@import "tailwindcss";
@font-face {
  font-family: 'Glober';
  src: url('src/assets/glober/GloberThinFree.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Optional: make it default for all text */
* {
  font-family: 'Glober';
}

